
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #f0f0f0;
}
@media screen and (max-width: 500px) {
  /* CSS rules to apply only to small screens */
.container {
	height: 99vh;
	width: 99vw;
	box-shadow: none;
	margin-bottom: 1ex;
}

}
.correct { background-color: "green"; }
.in_answer { background-color: "yellow"; }		
.container {
	background-color: #fff;
	padding: 16px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

#reset {
	display: none;
}
#word {
	margin-top: 30px;
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 10px;
}
.info{
	font-size: small;
}

#letters {
	
	margin-top: 8px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
}

.letter {
	width: 50px;
	height: 50px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 50%;
	font-size: 36px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
.correct {
	background-color: green;
}
.in-answer {
	background-color: yellow;
}
.incorrect {
	background-color: lightgray;
}

#grid {
	margin-top: 5px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
}

.button {
	background-color: blue;
	color: white;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	margin-top: 20px;
	cursor: pointer;
}
#reset { display: none; }

.number {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	border-radius: 50%;
	cursor: pointer;
}